body {
  position: relative;
  background: $body-background-color;
  color: $white;
  font-family: 'Roboto', arial, serif;
  font-size: 16px;
  color: $white;
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
}

.main-aboutfilm {
  display: flex;
  flex-direction: row;
}